<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>SafeTool Downloader</string>

    <key>CFBundleDisplayName</key>
    <string>SafeTool Downloader</string>

    <key>CFBundleIdentifier</key>
    <string>org.safetoolhub.SafeToolDownloader</string>

    <key>CFBundleVersion</key>
    <string>0.1.0</string>

    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CFBundleExecutable</key>
    <string>safetool-downloader-desktop</string>

    <key>CFBundleIconFile</key>
    <string>SafeToolDownloader.icns</string>

    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>

    <key>NSHighResolutionCapable</key>
    <true/>

    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 safetoolhub.org. Licensed under GPL-3.0-or-later.</string>
</dict>
</plist>
